.privacy-indicators-accent-color .privacy-indicator {
    color: -st-accent-color;
}

.screen-sharing-indicator-accent-color .screen-sharing-indicator {
    box-shadow: inset 0 0 0 100px -st-accent-color;
}

.screen-recording-indicator-accent-color .screen-recording-indicator {
    box-shadow: inset 0 0 0 100px -st-accent-color;
}

.screen-sharing-recording-indicators-blur .screen-sharing-indicator {
    box-shadow: inset 0 0 10px 1px;
}

.screen-sharing-indicator-accent-color.screen-sharing-recording-indicators-blur
    .screen-sharing-indicator {
    box-shadow: inset 0 0 10px 1px -st-accent-color;
}

.screen-recording-indicator-accent-color.screen-sharing-recording-indicators-blur
    .screen-recording-indicator {
    box-shadow: inset 0 0 10px 1px -st-accent-color;
}
